{% extends 'base.html.twig' %}

{% block title %}Hello BlogMasonaryController!{% endblock %}

{% block body %}
 <div class="breadcumb-wrapper">
        <div class="container">
            <ul class="breadcumb-menu">
                <li><a href="home-newspaper.html">Home</a></li>
                <li>Blog Masonary</li>
            </ul>
        </div>
    </div>
    <!--==============================
Team Area  
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-9 col-lg-8">
                    <div class="row gy-30 filter-active">
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_1.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Eureka moments science journey enlightenment</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>29 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_2.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Inquiring mind science quest For understanding</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_3.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Fiction</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Pulse-pounding tales, get lost in thrilling suspense</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>30 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_4.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Romance</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Loves allure, where hearts find their destiny.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>25 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_5.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Discover frights, delve into the world of horror.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_6.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Fantasys embrace, where heroes rise and magic</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>12 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_7.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Fiction</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Acting brilliance, dramas Realm of riveting storytelling.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>27 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_8.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Romance</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Dive into the fray, conquer With actions prowess.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>26 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_9.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Thrill in suspense, unlock the Truth - crime.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>14 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_10.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">From pixels to emotions, Animation weaves captivating</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>15 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_11.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Fiction</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Embrace the rush, ignite your Adventure.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>26 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_12.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Romance</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Ride into the sunset, chase dreams western.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>21 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_13.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Cherish the journey, loves Sweet romance awaits.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>26 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_14.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Wonders abound, embrace the mystique of fantasy."</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>24 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_15.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Fiction</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Dive into emotions, where dramas tale unfolds.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>25 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="filter-item col-xl-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/masonary_1_16.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Romance</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">From stunts to heroics, actions thrill defines you.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>18 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-40 mb-30 text-center">
                        <a href="blog-masonary.html" class="th-btn">Load More</a>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 sidebar-wrap">
                    <aside class="sidebar-area">
                        <div class="widget widget_search  ">
                            <form class="search-form">
                                <input type="text" placeholder="Enter Keyword">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories  ">
                            <h3 class="widget_title">Categories</h3>
                            <ul>
                                <li>
                                    <a data-bg-src="assets/img/bg/category_bg_1_1.jpg" href="blog.html">Sports</a>
                                </li>
                                <li>
                                    <a data-bg-src="assets/img/bg/category_bg_1_2.jpg" href="blog.html">Business</a>
                                </li>
                                <li>
                                    <a data-bg-src="assets/img/bg/category_bg_1_3.jpg" href="blog.html">Politics</a>
                                </li>
                                <li>
                                    <a data-bg-src="assets/img/bg/category_bg_1_4.jpg" href="blog.html">Health</a>
                                </li>
                                <li>
                                    <a data-bg-src="assets/img/bg/category_bg_1_5.jpg" href="blog.html">Technology</a>
                                </li>
                                <li>
                                    <a data-bg-src="assets/img/bg/category_bg_1_6.jpg" href="blog.html">Entertainment</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget  ">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-1.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="hover-line" href="blog-details.html">Fitness: Your journey to Better, stronger you.</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>21 June, 2023</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="hover-line" href="blog-details.html">Embrace the game Ignite your sporting</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="hover-line" href="blog-details.html">Revolutionizing lives Through technology</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>23 June, 2023</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img">
                                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-4.jpg" alt="Blog Image"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="hover-line" href="blog-details.html">Enjoy the Virtual Reality embrace the</a></h4>
                                        <div class="recent-post-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>25 June, 2023</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget  ">
                            <div class="widget-ads">
                                <a href="https://themeforest.net/user/themeholy/portfolio">
                                    <img class="w-100" src="assets/img/ads/siderbar_ads_1.jpg" alt="ads">
                                </a>
                            </div>
                        </div>
                        <div class="widget widget_tag_cloud  ">
                            <h3 class="widget_title">Popular Tags</h3>
                            <div class="tagcloud">
                                <a href="blog.html">Sports</a>
                                <a href="blog.html">Politics</a>
                                <a href="blog.html">Business</a>
                                <a href="blog.html">Music</a>
                                <a href="blog.html">Food</a>
                                <a href="blog.html">Technology</a>
                                <a href="blog.html">Travels</a>
                                <a href="blog.html">Health</a>
                                <a href="blog.html">Fashions</a>
                                <a href="blog.html">Animal</a>
                                <a href="blog.html">Weather</a>
                                <a href="blog.html">Movies</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
