{% extends 'base.html.twig' %}

{% block title %}Hello HomeMovieController!{% endblock %}

{% block body %}
<section class="pt-4">
        <div class="container container-full">
            <div class="row gy-4">
                <div class="col-xxl-3 col-lg-6">
                    <div class="space-40 dark-theme">
                        <div class="blog-style3">
                            <div class="blog-img">
                                <img src="assets/img/blog/blog_5_2_12.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Find your wings, chase The horizon, and</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>11 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-6 order-xxl-2">
                    <div class="space-40 dark-theme">
                        <div class="blog-style3">
                            <div class="blog-img">
                                <img src="assets/img/blog/blog_5_2_13.jpg" alt="blog image">
                            </div>
                            <div class="blog-content">
                                <a data-theme-color="#868101" href="blog.html" class="category">Romantic</a>
                                <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Eternal loves serenade beneath the moonlit sky</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>23 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="space-40 dark-theme">
                        <div class="blog-style3">
                            <div class="blog-img">
                                <img src="assets/img/blog/blog_5_11.jpg" alt="blog image">
                                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="blog-content">
                                <a data-theme-color="#868101" href="blog.html" class="category">Marvel</a>
                                <h3 class="box-title-40"><a class="hover-line" href="blog-details.html">Where speed, skill, and strategy collide, paving the way to victory.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>20 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container space-top">
            <a href="https://themeforest.net/user/themeholy/portfolio">
                <img class="light-img" src="assets/img/ads/ads_3.jpg" alt="ads">
                <img class="dark-img" src="assets/img/ads/ads_3.jpg" alt="ads">
            </a>
        </div>
    </section><!--==============================
Blog Area  
==============================-->
    <section class="space">
        <div class="container">
            <h2 class="sec-title has-line">Today Top News</h2>
            <div class="row gy-4">
                <div class="col-xl-6">
                    <div class="dark-theme">
                        <div class="blog-style3">
                            <div class="blog-img">
                                <img src="assets/img/blog/blog_5_12.jpg" alt="blog image">
                            </div>
                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style2 popup-video"><i class="fas fa-play"></i></a>
                            <div class="blog-content">
                                <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                <h3 class="box-title-30"><a class="hover-line" href="blog-details.html">Where speed, skill, and strategy collide paving the</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>10 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row gy-4">
                        <div class="col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_29.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Horror</a>
                                </div>
                                <h3 class="box-title-22"><a class="hover-line" href="blog-details.html">Embrace the fear thrill in darkness depths.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>27 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_30.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Drama</a>
                                </div>
                                <h3 class="box-title-22"><a class="hover-line" href="blog-details.html">From tragedy to comedy, drama ignites emotions</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>11 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="dark-theme">
                            <div class="blog-style3">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_5_2_14.jpg" alt="blog image">
                                </div>
                                <div class="blog-content">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Thriller Heart-stopping moments, suspense That captivates.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>11 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="space-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="sec-title has-line">Trending news</h2>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <div class="icon-box">
                            <button data-slick-prev="#blog-slide6" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                            <button data-slick-next="#blog-slide6" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row th-carousel" id="blog-slide6" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
                <div class="col-sm-6 col-xl-4">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_4_19.jpg" alt="blog image">
                            <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                        </div>
                        <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Heart-pounding tales, beware what lurks horror awaits.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>16 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_4_20.jpg" alt="blog image">
                            <a data-theme-color="#868101" href="blog.html" class="category">Triller</a>
                        </div>
                        <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Thriller grip tightens, fear and fascination entwine</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>18 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_4_21.jpg" alt="blog image">
                            <a data-theme-color="#868101" href="blog.html" class="category">Western</a>
                        </div>
                        <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Lasso adventure, embrace the Wild west western story.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>13 Mar, 2023</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="blog-style1">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_4_22.jpg" alt="blog image">
                            <a data-theme-color="#868101" href="blog.html" class="category">Crime</a>
                        </div>
                        <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Crime allure beckons, where shadows conceal secrets.</a></h3>
                        <div class="blog-meta">
                            <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                            <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container container-full">
            <div class="row th-carousel" data-slide-show="5" data-xl-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1">
                <div class="col-sm-6 col-xl-3 dark-theme">
                    <div class="blog-style3">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_5_2_15.jpg" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                            <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Thriller Heart-stopping moments, captivates.</a></h3>
                            <div class="blog-meta">
                                <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                <a href="blog.html"><i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 dark-theme">
                    <div class="blog-style3">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_5_2_16.jpg" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                            <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Embrace the rush, ignite your adventure.</a></h3>
                            <div class="blog-meta">
                                <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                <a href="blog.html"><i class="fal fa-calendar-days"></i>18 Mar, 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 dark-theme">
                    <div class="blog-style3">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_5_2_17.jpg" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                            <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">From myths to magic fantasy allure enchant al.</a></h3>
                            <div class="blog-meta">
                                <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                <a href="blog.html"><i class="fal fa-calendar-days"></i>25 Mar, 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 dark-theme">
                    <div class="blog-style3">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_5_2_18.jpg" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <a data-theme-color="#868101" href="blog.html" class="category">Drama</a>
                            <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Find your wings, chase the horizon, and </a></h3>
                            <div class="blog-meta">
                                <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                <a href="blog.html"><i class="fal fa-calendar-days"></i>10 Mar, 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 dark-theme">
                    <div class="blog-style3">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_5_2_19.jpg" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <a data-theme-color="#868101" href="blog.html" class="category">Fantacy</a>
                            <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Discover frights delve into the world of horror</a></h3>
                            <div class="blog-meta">
                                <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                <a href="blog.html"><i class="fal fa-calendar-days"></i>15 Mar, 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 dark-theme">
                    <div class="blog-style3">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_5_2_20.jpg" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                            <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Find your wings, chase The horizon, and </a></h3>
                            <div class="blog-meta">
                                <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                <a href="blog.html"><i class="fal fa-calendar-days"></i>27 Mar, 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Blog Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="space-bottom">
                        <a href="https://themeforest.net/user/themeholy/portfolio">
                            <img class="w-100 light-img" src="assets/img/ads/ads_4.jpg" alt="ads">
                            <img class="w-100 dark-img" src="assets/img/ads/ads_4.jpg" alt="ads">
                        </a>
                    </div>
                    <h2 class="sec-title has-line">Popular News</h2>
                    <div class="row gy-4">
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_31.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Horror</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">From tragedy to comedy, drama ignites emotions</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>21 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_32.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Drama</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Fantasy worlds await where heroes rise, legends.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_33.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Horror</a>
                                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Embrace the fear thrill in darkness depths.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>11 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_34.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Drama</a>
                                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Thrillers grip tightens, fear & fascination entwine</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_35.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Animation</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">From sketches to screens, animation magic unfolds.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>16 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="blog-style1">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_1_36.jpg" alt="blog image">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Crime</a>
                                </div>
                                <h3 class="box-title-20"><a class="hover-line" href="blog-details.html">Crime allure beckons, where shadows conceal secrets.</a></h3>
                                <div class="blog-meta">
                                    <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                    <a href="blog.html"><i class="fal fa-calendar-days"></i>26 Mar, 2023</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-top">
                        <div class="dark-theme">
                            <div class="blog-style3">
                                <div class="blog-img">
                                    <img src="assets/img/blog/blog_5_13.jpg" alt="blog image">
                                </div>
                                <div class="blog-content">
                                    <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                    <h3 class="box-title-30"><a class="hover-line" href="blog-details.html">Where speed, skill, and strategy collide, paying the way to victory.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>23 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="blog-style1">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_4_23.jpg" alt="blog image">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Triller</a>
                                    </div>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Horrors allure beckons, where fear becomes fascination.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>17 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-style1">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_4_24.jpg" alt="blog image">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Western</a>
                                    </div>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Heart racing, mind reeling - delve into thrilling stories.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>22 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-style1">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_4_25.jpg" alt="blog image">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Crime</a>
                                    </div>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Inquiring minds, sciences quest for understanding.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>21 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-style1">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_4_26.jpg" alt="blog image">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Triller</a>
                                    </div>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Eureka moments, sciences journey to enlightenment.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>16 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-style1">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_4_27.jpg" alt="blog image">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                    </div>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Fantasy: Where dreams take flight, magical adventures await</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>16 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-style1">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_4_28.jpg" alt="blog image">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Crime</a>
                                    </div>
                                    <h3 class="box-title-24"><a class="hover-line" href="blog-details.html">Acting brilliance, dramas realm of riveting storytelling.</a></h3>
                                    <div class="blog-meta">
                                        <a href="author.html"><i class="far fa-user"></i>By - Tnews</a>
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>13 Mar, 2023</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mt-35 mt-xl-0 sidebar-wrap mb-10">
                    <div class="sidebar-area">
                        <div class="widget  ">
                            <div class="th-weather">
                                <h3 class="box-title-24">Weather</h3>
                                <div class="days-wrap">
                                    <div class="days">
                                        <span class="name">Fri</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">25°C</span>
                                    </div>
                                    <div class="days active">
                                        <span class="name">Sat</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">24°C</span>
                                    </div>
                                    <div class="days">
                                        <span class="name">Sun</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">26°C</span>
                                    </div>
                                    <div class="days">
                                        <span class="name">Mon</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">25°C</span>
                                    </div>
                                    <div class="days">
                                        <span class="name">Tue</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">27°C</span>
                                    </div>
                                    <div class="days">
                                        <span class="name">Wed</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">25°C</span>
                                    </div>
                                    <div class="days">
                                        <span class="name">Thu</span>
                                        <div class="icon">
                                            <img src="assets/img/icon/cloud_1.svg" alt="Icon">
                                        </div>
                                        <span class="temperature">24°C</span>
                                    </div>
                                </div>
                                <div class="active-area" data-bg-src="assets/img/bg/weather_bg_1.jpg">
                                    <span class="temp-active">25°C</span>
                                    <div class="icon">
                                        <img src="assets/img/icon/cloud_2.svg" alt="Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="sec-title fs-20 has-line">Most Read</h2>
                        <div class="row gy-4">
                            <div class="col-xl-12 col-md-6 border-blog">
                                <div class="blog-style2">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_3_5.jpg" alt="blog image">
                                    </div>
                                    <div class="blog-content">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Action</a>
                                        <h3 class="box-title-18"><a class="hover-line" href="blog-details.html">Adventure awaits, seize the moment</a></h3>
                                        <div class="blog-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>26 Mar, 2023</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-12 col-md-6 border-blog">
                                <div class="blog-style2">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_3_6.jpg" alt="blog image">
                                    </div>
                                    <div class="blog-content">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Thriller</a>
                                        <h3 class="box-title-18"><a class="hover-line" href="blog-details.html">brace yourself for thrilling adventure.</a></h3>
                                        <div class="blog-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>19 Mar, 2023</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-12 col-md-6 border-blog">
                                <div class="blog-style2">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_3_7.jpg" alt="blog image">
                                    </div>
                                    <div class="blog-content">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Drama</a>
                                        <h3 class="box-title-18"><a class="hover-line" href="blog-details.html">where shadows on conceal secrets.</a></h3>
                                        <div class="blog-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>17 Mar, 2023</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xl-12 col-md-6 border-blog">
                                <div class="blog-style2">
                                    <div class="blog-img">
                                        <img src="assets/img/blog/blog_3_8.jpg" alt="blog image">
                                    </div>
                                    <div class="blog-content">
                                        <a data-theme-color="#868101" href="blog.html" class="category">Fantacy</a>
                                        <h3 class="box-title-18"><a class="hover-line" href="blog-details.html">Escape to fantasys extraordinary.</a></h3>
                                        <div class="blog-meta">
                                            <a href="blog.html"><i class="fal fa-calendar-days"></i>15 Mar, 2023</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
